body{
  margin: 0;
  padding: 0;
  font-family: 'times new roman', sans-serif;
}

.logo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* height: 250px; */
  border: 1px solid #000000;
}

.navbar {
  padding: 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  border: 1px solid #000000;
}

.links {
  text-decoration: none;
  /* color: black; */
}

.home_f{
  height: calc(100vh - 100px); /* Adjust 100px to the height of your navbar */
  border: none;
  justify-content: space-between;
  padding: 5px 5px;
}

/* .whyuspic
{
float: left;
border-radius: 2px;
border-color: black;

}
p
{
font-size: medium;
font-style: italic;
line-height: 30px;
display: flex;
justify-content: flex-end;

}

.whychoose{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  border: 10px solid #000000;
}

.whyuspic{
  height: 800px;
  width: 600px;
  padding: 10px 10 px 10px 10px;
}

.whyuspara{
  text-align: center;
  flex:1;
  padding: 10px 10 px 10px 10px;
} */

.bgplex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 10px;
}

.bgplex img{
  width: 100%;
  height: 100%;
}

.bgplex img:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
}

.twohead{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 25px 10px;
}

.headleft{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 25px 15px;
}

.headright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 10px;
}

.formtoadopt{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px 55px;
}